.table-errors .table-header {
  font-weight: 600;
  width: 100px;
}

.table-header.table-message {
  width: 200px;
}

.table-errors td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.result-title {
  margin: 0;
}
