.table-errors {
  .table-header {
    font-weight: 600;
    width: 100px;
  }

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .table-header.table-message {
    width: 200px;
  }
}

.result-title {
  margin: 0;
}
