div.import-dialog {
  --height: clamp(360px, 100%, 900px);
  height: var(--height);
  width: clamp(700px, 100%, var(--height) / 5 * 6);
  max-width: unset;
  display: flex;
  flex-direction: column;
}

.import-dialog-content {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  gap: 2rem;
}

.import-page {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  gap: 2rem;
}

.import-dialog .import-button-back {
  background-color: var(--N50);
  border-color: var(--N100);
}
