div.database-editor-import-dialog {
  max-width: unset;
  max-height: unset;
  padding: 0;
  border-radius: 0;
  gap: 0;
}

.database-editor-import-dialog > button:has(i.ivy-close) {
  visibility: collapse;
}

.databse-editor-import-title {
  visibility: collapse;
}
