div.import-dialog {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  width: auto;
  max-height: 900px;
  max-width: calc(100% - 40px);
  aspect-ratio: 6/5;
}

.import-dialog-content {
  height: 100%;
  gap: 2rem;
}

.import-page {
  height: 100%;
  gap: 2rem;
}

.import-dialog .import-button-back {
  background-color: var(--N50);
  border-color: var(--N100);
}
