.database-editor-import-content {
  box-sizing: border-box;
  align-self: center;
  width: 100%;
  height: 80vh;
  padding: 20px 50px 10px 50px;
}

.import-wizard-page {
  height: 100%;
  overflow: auto;
}
.import-wizard-proceed-buttons {
  width: 100%;
}

button.import-wizard-close-hidden {
  display: none;
}
