table.attribute-selection-table {
  width: clamp(200px, 100%, 300px);
  max-width: 300px;
}

.attribute-selection-content {
  max-height: 500px;
  overflow: scroll;
}

.attribute-selection-table .table-header {
  font-weight: 600;
}
