.timeline {
  --circle-width: 15px;
  align-items: end;
}

.timeline-connector {
  height: 2px;
  background-color: var(--N400);
  border: 0;
  margin: 0;
  flex: 1 1 auto;
  transform: translateY(calc(var(--circle-width) / 2 * -1));
}

.timeline-connector.active {
  background-color: var(--P300);
}

.timeline-item {
  width: var(--circle-width);
  gap: 1rem;
  cursor: pointer;
}

.timeline-title {
  color: var(--N700);
  font-weight: 600;
  white-space: nowrap;
}

.active .timeline-title {
  color: var(--P300);
}

.timeline-circle {
  height: var(--circle-width);
  width: var(--circle-width);
  background-color: var(--background);
  border-radius: 50%;
  border: 2px solid var(--N400);
  z-index: 1;
}

.active .timeline-circle {
  background-color: var(--P300);
  border-color: var(--P300);
}

.passed .timeline-circle {
  background-color: var(--background);
  border-color: var(--P300);
}
